body {
    background-color: rgb(143, 120, 73);
    background-image: url('media/fmmt.jpeg');
    background-size: cover; /* Cover the entire viewport */
    background-position: center 20%; /* Center the image */
    background-size: 30% 30%; /* Adjust as needed */
    background-repeat: no-repeat; /* Prevent image from repeating */
    height: 100vh; /* Set the height to 100% of the viewport height */
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.all_flags {
    display: flex; /* Set the display property to flex */
}

.all_flags div {
    border: 1px solid #b40909; /* Optional: Add a border to each flag for better visibility */
    padding: 10px;
    margin: 40px;
}