body {
    background-color: rgb(143, 120, 73);
    background-image: url('media/fmmt.jpeg');
    background-size: cover; 
    background-position: center 20%;
    background-size: 25% 25%; 
    background-repeat: no-repeat;
    height: 100vh; 
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.all {
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.all_flags {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.all_flags div {
    text-align: center;
    margin: 10px;
}

.all_flags img {
    max-width: 100%; 
}

#my-button {
    color: rgb(53, 213, 103);
    font-size: larger;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    border-radius: 40%;
    background-color: rgb(185, 135, 43);
}

#svg-container {
    width: 250px;
    height: 150px;
    margin: 20px;
}

.selected {
    border: 2px solid #1900ff; /* Change border color for selected flag */
}