<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles_env.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script_env.js') }}"></script>
    <title>Linquistic Fibbage</title>
</head>
<body>
    <h1 id="header">Linquistic Fibbage</h1>
    <div id="q_a">
        <div id="q"></div>
        <div id="p"></div>
        <textarea id="area"></textarea>
    </div>
    <button id="submit" onclick="submitA()">Submit</button>
</body>
</html>