<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Fibbage Game</title>
</head>

<body>
    <div class="all">
        <div class="all_flags" id="all">
            <div class="spanish" onclick="selectFlag('spanish')">
                <img src="{{ url_for('static', filename='media/spanish.svg') }}" id="svg-container" />
                <div class="text-container">Spanish</div>
            </div>
            <div class="russian" onclick="selectFlag('russian')">
                <img src="{{ url_for('static', filename='media/russian.png') }}" id="svg-container" />
                <div class="text-container">Russian</div>
            </div>
        </div>

        <button id="my-button" onclick="sendRequest()">
            Select
        </button>
    </div>    

</body>

</html>
